<div class="row">
	<div class="col-md-2">
		<a href="/"><img class="img-responsive" src="$context.getConfig("imgbaseurl")/logo.png" alt="Home logo lean forge"></a>
	</div>
	<div class="col-md-10">
		<h1>$title <span class="pull-right">$metas.getLanguages().getCodinglang().get(0)</span></h1>
		<h2>$metas.getSoftware().getName()</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ol class="list-inline step-list">
		#foreach($step in $tutorialContent.getStep())
		#set( $stepcount = $velocityCount - 1 )
			<li><a title="$step.getName()" href="$tutorialBaseURL/$stepcount"><div class="circle-number">$stepcount</div></a></li>
		#end
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="tutorial-step">
		#foreach($substep in $tutorialStep.getSubstep())
			
			#if ($substep.getText())
			<li class="tutorial-text">	$substep.getText() </li>
			#elseif ($substep.getImg())
			<li class="tutorial-img">	<img class="img-responsive" src="$tutorialressources/$substep.getImg().getSrc()" alt="$substep.getImg().getAlt()"> </li>
			#elseif ($substep.getBtn())
			<li class="tutorial-btn">
				#if($substep.getBtn().getHref().startsWith("http://"))
				<a href="$substep.getBtn().getHref()" title="$substep.getBtn().getAlt()" class="btn btn-primary">$substep.getBtn().getTitle()</a>
				#else
				<a href="$tutorialressources/$substep.getBtn().getHref()" title="$substep.getBtn().getAlt()" class="btn btn-primary">$substep.getBtn().getTitle()</a>
				#end
			</li>
			#elseif ($substep.getCode())
			<li class="tutorial-code">
				<pre>$substep.getCode()</pre>
			</li>
			#elseif ($substep.getSlider())
			<li class="tutorial-slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	#foreach($img in $substep.getSlider().getImg())
			  		#set( $count = $velocityCount - 1 )
			  		<li data-target="#carousel-example-generic" data-slide-to="$count" #if($count == 0)class="active"#end></li>
			  	#end
			  </ol>
			
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			  	#foreach($img in $substep.getSlider().getImg())
			  	#set( $count = $velocityCount - 1 )
			    <div class="item #if($count == 0)active#end">
			      <img src="$tutorialressources/$img.getSrc()" alt="$img.getAlt()">
			      <div class="carousel-caption">$img.getTitle()
			      </div>
			    </div>
			    #end
			  </div>
			
			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
			</li>
			#elseif($substep.getMultiimg())
			<li class="tutorial-multiimg">
			<div class="row">
				#foreach($img in $substep.getMultiimg().getImg())
			    <div class="col-md-3">
			      <img class="img-responsive" src="$tutorialressources/$img.getSrc()" alt="$img.getAlt()">
			      <div class="caption">$img.getTitle()
			      </div>
			    </div>
			    #end
			</div>
			</li>
			#end
			
		#end
		</ul>
		<ul class="pager">
		#if($previous)
			<li class="previous"><a href="$previous">&larr; Previous Step</a></li>
		#else
			<li class="previous disabled"><a href="#">&larr; Previous Step</a></li>
		#end
		
		#if($next)
			<li class="next"><a href="$next">Next Step &rarr;</a></li>
		#else
			<li class="next disabled"><a href="#">Next Step &rarr;</a></li>
		#end
		
		</ul>
	</div>
</div>