<div class="row">
	<div class="col-md-2">
		<img class="img-responsive" src="$context.getConfig("imgbaseurl")/logo.png" alt="Home logo lean forge">
	</div>
	<div class="col-md-10">
		<h1>Category</h1>
	</div>
</div>
<div class="row">
#foreach($dtuto in $tutorials)
	<div class="col-md-12">
		<h2></h2>
	</div>
#end
</div>