<div class="row">
	<div class="col-md-2">
		<img class="img-responsive" src="$context.getConfig("imgbaseurl")/logo.png" alt="Home logo lean forge">
	</div>
	<div class="col-md-10">
		<h1>$title</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ol class="list-inline">
		#foreach($step in $tutorialContent.getStep())
		#set( $stepcount = $velocityCount - 1 )
			<li><a title="$step.getName()" href="$tutorialBaseURL/$stepcount">$velocityCount</a></li>
		#end
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul>
		#foreach($substep in $tutorialStep.getSubstep())
			<li>$substep</li>
		#end
		</ul>
	</div>
</div>