<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<a href="/"><img class="img-responsive" src="$context.getConfig("imgbaseurl")/logo.png" alt="Home logo lean forge"></a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	Hello $context.getConnectedUser().Login :-)
	</div>
</div>
