#parse( "header.vm" )
<div class="row">
	<div class="col-md-12">
	<h1>$title</h1>
		<ul>
		#if( $parenturl )
		   <li><a href="$parenturl">.. (parent dir)</a></li>
		#end
		#foreach( $item in $items )
		<li><a href="$currenturl/$item.getFileName()">$item.getFileName()</a> <a class="btn btn-danger btn-xs" href="">delete</a></li>
		#end
		</ul>
	</div>
</div>
#parse( "footer.vm" )